.footer {
    margin-top: 10px;
    padding-top: 15px;
    padding-right: 30px;
    display: flex;
    background-color: #ddd;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 75px;
}

.list {
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 20px;
}

ul {
    list-style: none;
    font-weight: 700;
}