.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

#form {
    display: flex;
    flex-direction: column;
}

#email {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
}

#submit {
    background-color:#f1c40f;
    border: 0;
    padding: 5px;
    font-weight: 900;
    font-size: 16px;
}

#submit:hover {
    background-color: #ffa500;
}