#pricing {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tenor__trombone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(100% / 3);
}

.bass__trombone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(100% / 3);
}

.valve__trombone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(100% / 3);
}

li {
    list-style: none;
}

.trombone-label {
    background-color: rgb(0,0,0,0.1);
    font-weight: 200px;
}

.pricing__button {
    background-color: rgb(241, 196, 15);
    border: 0;
    padding: 10px;
    color: black;
    margin: 20px 0px 5px 0px;
    border-radius: 3px;
}