#pricing {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tenor__trombone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(100% / 3);
}

.bass__trombone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(100% / 3);
}

.valve__trombone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(100% / 3);
}

li {
    list-style: none;
}

.trombone-label {
    background-color: #ddd;
    color: black;
    padding-top: 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
}

.pricing__button {
    background-color: rgb(241, 196, 15);
    border: 0;
    padding: 10px;
    color: black;
    margin: 20px 0px 10px 0px;
    width: 75px;
}

ul {
    line-height: 20px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
}